@using UnityMVC.Models
@model GroupResults

@{
    ViewBag.Title = "Группы";
}

<h2>Результаты групповых игр</h2>

@if (!Model.GetAllGroupNames().Any())
{
    <h5>Групповых игр еще не было.</h5>
}
else
{
    <div>Формат: очки слева указаны для игрока в столбце слева. Справа -- для игрока сверху.<br/>
    Правый столбик показывает общее количество очков по результатам группового этапа для игрока в столбике слева.<br/>
    Логи можно скачать, кликнув по счету.</div>
}

@foreach (var groupName in Model.GetAllGroupNames())
{
    <h3>Group @groupName</h3>
    <table>
        <thead>
        <tr>
            <th bgcolor="gray"></th>
            @foreach (var player in Model.GetAllPlayersForGroup(groupName))
            {
                <th><a style="text-decoration: none" href="@UsersConverter.GetLinkForUser(player)"><b>@player</b></a></th>
            }
            <th>Всего очков для игрока</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var columnPlayer in Model.GetAllPlayersForGroup(groupName))
        {
            <tr>
                <td><a style="text-decoration: none" href="@UsersConverter.GetLinkForUser(columnPlayer)"><b>@columnPlayer</b></a></td>
                @foreach (var rowPlayer in Model.GetAllPlayersForGroup(groupName))
                {
                    if (columnPlayer == rowPlayer)
                    {
                        <td bgcolor="gray"></td>
                    }
                    else
                    {
                        <td>
                            @foreach (var gameResult in Model.GetGamesForPair(columnPlayer, rowPlayer, groupName))
                            {
                                if (string.IsNullOrEmpty(gameResult.Link))
                                {
                                    <a>@gameResult.Line</a>
                                }
                                else
                                {
                                    @Html.ActionLink(gameResult.Line, gameResult.Link, WebConstants.RelativeLogPath)
                                }
                                <br/>
                            }
                        </td>
                    }
                }
                <td>Итог: @Model.GetTotalScoreForPlayer(columnPlayer, groupName)</td>
            </tr>
        }
        </tbody>
    </table>
    <br/>
    <br/>
}
