@using UnityMVC.Models
@model GameResults[]

@{
    ViewBag.Title = "Соло результаты";
}

<article>
    <h2> Соло игры: </h2>
    @if (Model != null && Model.Length > 0)
    {
        <table>
            <thead>
                <tr>
                    <th>Время</th>
                    <th>Игрок</th>
                    <th>Логи</th>
                </tr>
            </thead>
            <tbody>
                @foreach (GameResults result in Model)
                {
                    <tr>
                        <td>@result.Time.ToString()</td>
                        <td>@result.LeftPlayerUserName (@result.LeftPlayerScores очков)</td>
                        <td>@Html.ActionLink("Скачать", result.LogFileName, WebConstants.RelativeLogPath)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h4>На данный момент не было ни одной игры.</h4>
    }
</article>
<br />
<aside>
    Результаты групповых игр можно найти @Html.ActionLink("здесь", "GroupResults") <br />
    Результаты турнамента можно найти @Html.ActionLink("здесь", "TournamentResult")
</aside>