@using UnityMVC.Models
@model GameResults[]

@{
    ViewBag.Title = "Результаты";
}

<h2> Все сыгранные игры: </h2>
@if (Model != null && Model.Length > 0)
{
    <table>
        <thead>
        <tr>
            <th>Время</th>
            <th>Левый игрок</th>
            <th>Правый игрок</th>
            <th>Логи</th>
        </tr>
        </thead>
        <tbody>
            @foreach (GameResults result in Model)
            {
                <tr>
                    <td>@result.Time.ToString()</td>
                    <td>@result.LeftPlayerUserName (@result.LeftPlayerScores очков)</td>
                    <td>@result.RightPlayerUserName (@result.RightPlayerScores очков)</td>
                    <td>@Html.ActionLink("Скачать", result.logFileName, WebConstants.RelativeLogPath)</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h4>На данный момент не было ни одной игры.</h4>
}
