@using UnityMVC.Models
@model LocalPasswordModel

<h3>Прошедшие игры с вашим участием</h3>

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    
    if (ViewBag.PlayedGames != null && ((GameResults[])ViewBag.PlayedGames).Length > 0)
    {
        <table>
            <thead>
                <tr>
                    <th>Время</th>
                    <th>Левый игрок</th>
                    <th>Правый игрок</th>
                    <th>Лог игры</th>
                    <th>Тип</th>
                    <th>Подтип</th>
                </tr>
            </thead>
            <tbody>
                @foreach (GameResults result in (GameResults[])ViewBag.PlayedGames)
                {
                    <tr>
                        <td>@result.Time.ToString()</td>
                        <td><a style="text-decoration: none" href="@UsersConverter.GetLinkForUser(result.LeftPlayerUserName)">@result.LeftPlayerUserName</a> (@result.LeftPlayerScores очков)</td>
                        <td><a style="text-decoration: none" href="@UsersConverter.GetLinkForUser(result.RightPlayerUserName)">@result.RightPlayerUserName</a> (@result.RightPlayerScores очков)</td>
                        <td>@Html.ActionLink("Скачать", result.LogFileName, WebConstants.RelativeLogPath)</td>
                        <td>@result.Type</td>
                        <td>@result.Subtype</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div>Вы еще не участвовали в играх.</div>
    }
}


