@model UnityMVC.Models.LocalPasswordModel

<p>
    У вас нет локального пароля. Вы можете заходить только через сторонние сервисы.
    Установите пароль, чтобы заходить без их использования.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Создание пароля</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Установить пароль" />
    </fieldset>
}
