@model UnityMVC.Models.RegisterExternalLoginModel
@{
    ViewBag.Title = "Зарегистрироваться";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Привяжите ваш @ViewBag.ProviderDisplayName аккаунт.</h2>
</hgroup>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Форма привязки</legend>
        <p>
            Вы успешно зашли с помощью <strong>@ViewBag.ProviderDisplayName</strong>.
            Пожалуйста, введите желаемое имя пользователя для того, чтоб закончить регистрацию.
        </p>
        <ol>
            <li class="name">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
        </ol>
        @Html.HiddenFor(m => m.ExternalLoginData)
        <input type="submit" value="Зарегистрироваться" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
