@model UnityMVC.Models.LocalPasswordModel
@{
    ViewBag.Title = "Личный кабинет";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>Вы вошли как <strong>@User.Identity.Name</strong>.</p>



@Html.Partial("_CvarcTagPartial")
@Html.Partial("_GameResultsPartial")

<h3>Загрузка решения</h3>

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.ValidationSummary()

    if (!ViewBag.SolutionExists)
    {
        <div>У вас сейчас нет загруженного решения. Когда будете готовы, загрузите решение @Html.ActionLink("здесь", "UploadSolution", "Results")</div>
    }
    else
    {
        <div>Вы загрузили решение. Время загрузки @ViewBag.SolutionLoadedTime @Html.ActionLink("Скачать.", "DownloadSolution", "Results")</div>
        <div>Вы можете загрузить другое решение @Html.ActionLink("здесь", "UploadSolution", "Results") (старое решение будет удалено).</div>
    }
}

<h3>Дополнительная информация</h3>
<div>Текущий используемый Email: <b>@ViewBag.Email</b></div>
<div>Текущая ссылка соц сети: <b>@ViewBag.SocialLink</b></div>
@Html.ActionLink("Изменить", "SetAdditionalInfo")

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Внешние сервисы</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
