@model UnityMVC.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

@Html.Partial("_CvarcTagPartial")
@Html.Partial("_GameResultsPartial")

<h3>Solution upload</h3>

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    if (!ViewBag.SolutionExists)
    {
        <div>Your solution is NOT uploaded now. You can upload your solution @Html.ActionLink("here", "UploadSolution", "Rules")</div>
    }
    else
    {
        <div>Your solution already uploaded. You can overwrite it @Html.ActionLink("here", "UploadSolution", "Rules")</div>
    }
}

<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
