@{
    ViewBag.Title = "Восстановление пароля";
}

<h2>Завершение</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Восстановление пароля</legend>
        <ol>
            <li>
                Ваш Token:<br/>
                @Html.TextBox("token")
            <li/>
            <li>
                Новый пароль:<br />
                @Html.Password("newPassword")
            <li/>
            <li>
                Еще раз:<br />
                @Html.Password("confirm")
            </li>
        </ol>
        <input type="submit" value="Восстановить пароль" />
    </fieldset>
}
@ViewBag.Message
