@{
    ViewBag.Title = "Главная страница";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <p>
                Добро пожаловать на веб-составляющую Cvarc-Unity project
            </p>
        </div>
    </section>
}
@if (Request.IsAuthenticated)
{
    <article>
        <h3>Для того, чтоб приступить к работе, вам нужно выполнить несколько простых инструкций:</h3>
        <ol class="round">
            <li class="one">
                <h5>Ознакомьтесь с правилами текущего мероприятия.</h5>
                Правила вы можете найти в группе вконтакте, а ответы на часто задаваемые вопросы @Html.ActionLink("здесь.", "FAQ")
            </li>

            <li class="two">
                <h5>Получите ваш CvarcTag</h5>
                После регистрации у вас есть возможность получить ваш уникальный идентификатор, с помощью которого система сможет опознавать вас во время игр.
                Найти его можно @Html.ActionLink("в личном кабинете.", "Manage", "Account")
                <br/>
                Держите свой CvarcTag в секрете, а если он станет известен третьим лицам как можно скорее создайте новый в своем личном кабинете.
            </li>

            <li class="three">
                <h5>Учавствуйте в тестовых соревнованиях</h5>
                Когда вы отладите своего клиента, попробуйте сыграть против других участников. <br/>
                Результаты тестовых игр никак не повлияют на турнир, который пройдет позже.
            </li>
            <li class="four">
                <h5>Загрузите итоговое решение</h5>
                Когда решите, что готовы, загрузите все ваши исходники в личном кабинете.
            </li>
        </ol>
    </article>
}
else
{
    <article>
        <h3>Прежде чем вы сможете участвовать в соревнованиях, вам необходимо зарегистрироваться.</h3>
        Получить инвайт можно в группе ВКонтакте, ссылку на которую вы можете найти @Html.ActionLink("здесь", "Contact")
    </article>
}
@Html.Action("UnityStatus")