@{
    ViewBag.Title = "Присвоить права администратора";
}
@ViewBag.ReturnMessage
<h2>Сделать пользователя администратором</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div>
        Имя пользователя
    </div>
    <p>
        @Html.TextBox("UserName")
    </p>
    <p>
        Полный доступ: @Html.CheckBox("SuperAdminAccess")
        Полный доступ дает доступ к админ панели.
    </p>
    
    <input type="submit" value="Принять" />
}

