@{
    ViewBag.Title = "Присвоить права администратора";
}
@ViewBag.ReturnMessage
<h2>Сделать пользователя администратором</h2>
<br/>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div>
        Имя пользователя
    </div>
    <p>
        @Html.TextBox("UserName")
    </p>
    <p>
        Полный доступ: @Html.CheckBox("SuperAdminAccess")
        <div>Эта галочка доступна только для SuperAdmin.</div>
    </p>
    
    <input type="submit" value="Применить" />
}

