@using UnityMVP.Models
@model Competition

@{
    ViewBag.Title = "Add competition";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

@using (Html.BeginForm())
{
    <fieldset>
        <ol>
            <li>
                @Html.LabelFor(c => c.Name)
                @Html.TextBoxFor(c => c.Name)
                @Html.ValidationMessageFor(c => c.Name)
            </li>
            <li>
                @Html.LabelFor(c => c.StartAt)
                Format: dd/MM/yyyy HH:mm:ss
                @Html.EditorFor(c => c.StartAt)
                @Html.ValidationMessageFor(c => c.StartAt)
            </li>
            <li>
                @Html.LabelFor(c => c.IsActive)
                @Html.CheckBoxFor(c => c.IsActive)
            </li>
            <li>
                @Html.LabelFor(c => c.Description)
                @Html.TextBoxFor(c => c.Description)
                @Html.ValidationMessageFor(c => c.Description)
            </li>
        </ol>
        <input type="submit" value ="Create"/>
    </fieldset>
}