@using UnityMVP.Models
@model Competition

@{
    ViewBag.Title = Model.Name + "info";
}

<hgroup class="title">
    <h1>@Model.Name info</h1>
</hgroup>

<div>@Model.Description</div>

<div>
    <h3>Author: @Model.CreatedBy</h3>
    <h3>Start at: @Model.StartAt</h3>
    <h3>LoadingData: @Model.UnityName</h3>
    <h3>Is Active: @Model.IsActive</h3>
</div>

@if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
{
    <div style="float:right">@Html.ActionLink("Edit this competition", "Edit", "Competition", new { name = Model.Name }, null)</div>
}

<h2> Played Games: </h2>
@if (Model.PlayedGames != null && Model.PlayedGames.Count > 0)
{
    <table>
        <thead>
        <tr>
            <th>Left player</th>
            <th>Right player</th>
        </tr>
        </thead>
        <tbody>
            @foreach (GameResult result in Model.PlayedGames)
            {
                <tr>
                    <td>@result.LeftPlayer (@result.LeftScore points)</td>
                    <td>@result.RightPlayer (@result.RightScore points)</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h4>There is no played games now.</h4>
}