@using UnityMVP.Models
@model Competition[]

@{
    ViewBag.Title = "Competitions";
}

<hgroup class="title">
    <h1>All Competitions.</h1>
</hgroup>

@ViewBag.Message

@if (Model.Length > 0)
{
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>IsActive</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Competition c in Model)
        {
            <tr>
                <td>@Html.ActionLink(c.Name, "CompetitionInfo", "Competition", new { name = c.Name}, null)</td>
                <td>
                    @if (c.IsActive)
                    {
                        <div>Active!</div>
                    }
                </td>

                <td>@if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                    {
                        <div>@Html.ActionLink(c.IsActive ? "Deactivate" : "Activate", "Edit", "Competition", new {name = c.Name}, null)</div>
                    }
                </td>
                <td>
                    @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                    {
                    <div>@Html.ActionLink("Delete", "Delete", "Competition", new { name = c.Name }, null)</div>
                }
            </td>

            </tr>
        }
        </tbody>
    </table>
}
else
{
    <h3>No competitions :(</h3>
}

@if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
{
    <h3 style="float:right">@Html.ActionLink("Add competition", "Add", "Competition")</h3>
}
